<%- include("partials/header") %>
    <h1>Kontakt</h1>
    <p>
    <div>
        <div class="row">
            <div class="col-4"><br></div>
            <div class="col-6"><br>
                <%= contContent %>
            </div>
        </div>
    </div>
    </p>
    <%- include("partials/footer") %>