<%- include("partials/header") %>
    <h1>Galeria</h1>
    <p>
    <div>
        <div class="row">

            <div class="col-3 justify-content-center">
                <img src="./images/rys4.jpg" alt="zima"></img>
                <br>
            </div>
            <div class="col-8 border rounded">
                <%= galContent %>
                <br>
            </div>
        </div>
    </div>
    </p>
    <%- include("partials/footer") %>