<%- include("partials/header") %>
<h1>
    <%= titleContent %>
</h1>

<p>
<div>
    <div class="row border rounded-3 mt-4 p-5">
        <div class="col-4"><br></div>
        <div class="col-6"><br>
            <%= contContent %>
        </div>
    </div>
</div>
</p>
<%- include("partials/footer") %>